{% extends "base.html" %}
{% block content %}
<section id="post" class="body">
  <article>
    <header>
      <h1 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
      <h1><a href="{{ article.external_url}}">View original at {{ article.publisher }}</a></h1>
    </header>

    <div class="entry-content">
      {{ article.content }}
    </div>
  </article>
</section>
{% endblock content %}
